@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VistaParaPDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f9f9f9;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #3F9869;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table, th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        .btn-container {
            text-align: center;
        }

        .btn {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #324EFF;
            color: #fff;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #1e3aa9;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Listado de Contactos</h1>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jose</td>
                    <td>Jose@example.com</td>
                    <td>909090</td>
                </tr>
                <tr>
                    <td>Luis</td>
                    <td>Luis@example.com</td>
                    <td>808080</td>
                </tr>
                <tr>
                    <td>Maria</td>
                    <td>Maria@example.com</td>
                    <td>707070</td>
                </tr>
            </tbody>
        </table>

        
    </div>
</body>
</html>
