/* _content/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cr3l74sh8h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cr3l74sh8h] {
  color: #0077cc;
}

.btn-primary[b-cr3l74sh8h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cr3l74sh8h], .nav-pills .show > .nav-link[b-cr3l74sh8h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cr3l74sh8h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cr3l74sh8h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cr3l74sh8h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cr3l74sh8h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cr3l74sh8h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/096d4da7-c12f-43cb-b03a-4f6d5cd48324/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-h9swxe6fyc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-h9swxe6fyc] {
  color: #0077cc;
}

.btn-primary[b-h9swxe6fyc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-h9swxe6fyc], .nav-pills .show > .nav-link[b-h9swxe6fyc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-h9swxe6fyc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-h9swxe6fyc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-h9swxe6fyc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-h9swxe6fyc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-h9swxe6fyc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/26f41052-4515-47c1-9a20-69a33bd37092/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5dc7yv8uor] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5dc7yv8uor] {
  color: #0077cc;
}

.btn-primary[b-5dc7yv8uor] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5dc7yv8uor], .nav-pills .show > .nav-link[b-5dc7yv8uor] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5dc7yv8uor] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5dc7yv8uor] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5dc7yv8uor] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5dc7yv8uor] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5dc7yv8uor] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/5f40a6d3-4179-4c55-848f-46cbb8ab3a54/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xdcp4xj4bt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xdcp4xj4bt] {
  color: #0077cc;
}

.btn-primary[b-xdcp4xj4bt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xdcp4xj4bt], .nav-pills .show > .nav-link[b-xdcp4xj4bt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xdcp4xj4bt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xdcp4xj4bt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xdcp4xj4bt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xdcp4xj4bt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xdcp4xj4bt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/7fec5c2c-1cc8-4b84-a0bc-cb0dd93eb04d/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qyaqwmpqtz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qyaqwmpqtz] {
  color: #0077cc;
}

.btn-primary[b-qyaqwmpqtz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qyaqwmpqtz], .nav-pills .show > .nav-link[b-qyaqwmpqtz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qyaqwmpqtz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qyaqwmpqtz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qyaqwmpqtz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qyaqwmpqtz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qyaqwmpqtz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/85a428a2-a336-4d55-a688-ed03a8b5cde6/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-l5klkpf80n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-l5klkpf80n] {
  color: #0077cc;
}

.btn-primary[b-l5klkpf80n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-l5klkpf80n], .nav-pills .show > .nav-link[b-l5klkpf80n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-l5klkpf80n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-l5klkpf80n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l5klkpf80n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l5klkpf80n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-l5klkpf80n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/b6445502-b3c6-4827-9377-9e246a037cfa/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-etec35tnqp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-etec35tnqp] {
  color: #0077cc;
}

.btn-primary[b-etec35tnqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-etec35tnqp], .nav-pills .show > .nav-link[b-etec35tnqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-etec35tnqp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-etec35tnqp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-etec35tnqp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-etec35tnqp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-etec35tnqp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/d52f2b98-59f8-484d-8ac5-7b03f337650d/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fpuyve2h7s] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fpuyve2h7s] {
  color: #0077cc;
}

.btn-primary[b-fpuyve2h7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fpuyve2h7s], .nav-pills .show > .nav-link[b-fpuyve2h7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fpuyve2h7s] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fpuyve2h7s] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fpuyve2h7s] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fpuyve2h7s] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fpuyve2h7s] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/f2ba9c16-55f1-4245-ad65-70b6ad915a85/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1y2lvt5cig] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1y2lvt5cig] {
  color: #0077cc;
}

.btn-primary[b-1y2lvt5cig] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1y2lvt5cig], .nav-pills .show > .nav-link[b-1y2lvt5cig] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1y2lvt5cig] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1y2lvt5cig] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1y2lvt5cig] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1y2lvt5cig] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1y2lvt5cig] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
