@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PorjectHorizonSENA.styles.css" asp-append-version="true" />
</head>

<html>
<body>
    <a asp-action="Login">adsadasfwqaf</a>
</body>
</html>
