/* _content/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cr3l74sh8h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cr3l74sh8h] {
  color: #0077cc;
}

.btn-primary[b-cr3l74sh8h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cr3l74sh8h], .nav-pills .show > .nav-link[b-cr3l74sh8h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cr3l74sh8h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cr3l74sh8h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cr3l74sh8h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cr3l74sh8h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cr3l74sh8h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/07de1d8a-6451-4059-b980-50c711dcfe69/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pwnu0ztula] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pwnu0ztula] {
  color: #0077cc;
}

.btn-primary[b-pwnu0ztula] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pwnu0ztula], .nav-pills .show > .nav-link[b-pwnu0ztula] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pwnu0ztula] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pwnu0ztula] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pwnu0ztula] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pwnu0ztula] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pwnu0ztula] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/55e57999-92f9-4abb-a5c8-4b3a0af5a1f9/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-x895lj7ts3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-x895lj7ts3] {
  color: #0077cc;
}

.btn-primary[b-x895lj7ts3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-x895lj7ts3], .nav-pills .show > .nav-link[b-x895lj7ts3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-x895lj7ts3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-x895lj7ts3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-x895lj7ts3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-x895lj7ts3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-x895lj7ts3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/PorjectHorizonSENA/wwwroot/Proyectos/ebf1a151-77bc-4123-a460-1cb7a3bc44bf/ProyectoHorizonteSENA-master/PorjectHorizonSENA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zkbc998sgc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zkbc998sgc] {
  color: #0077cc;
}

.btn-primary[b-zkbc998sgc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zkbc998sgc], .nav-pills .show > .nav-link[b-zkbc998sgc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zkbc998sgc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zkbc998sgc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zkbc998sgc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zkbc998sgc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zkbc998sgc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
