@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Renderiza la vista parcial de menú correspondiente utilizando la variable de vista MenuPartial -->
@{
    await Html.RenderPartialAsync($"~/Views/Shared/{ViewData["MenuPartial"]}.cshtml");

}